

{{!--

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        {{#if error}}
        <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div>
        {{/if}}

        <nav>
            <a href="/">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/housing">Housing for rent</a></li>
                {{#if user}}
                <!-- Logged users -->
                <li><a href="/housing/create">Create offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <!-- Guest users -->
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>

        {{{body}}}

        <footer>
            © 2021
        </footer>
    </div>

</body> --}}    

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            <ul class="navbar-nav ml-auto">

                <!-- Guest users and Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>

                <!-- Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="/auth">Welcome, {{username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/course/create">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth">My Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>

                <!-- Guest users -->
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Register</a>
                </li>

            </ul>
        </nav>


        <!-- In case of error, you should display section with class "notifications" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <section class="notifications">
            <p class="notification-message">Message...</p>
        </section>-->
        {{{body}}}

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021
                <p>Js Back End</p>
            </div>
        </footer>

    </div>
</body>

</html>